
* {
    box-sizing: border-box;
  }
    
body {
    background: #f4ece1;
}  
.header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size: 35px;
}
.column {
    float: left;
}      
  /* Left and right column */
  .column.side {
    text-align: center;
    width: 25%;
    height: 739px;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 24px;
    text-shadow: 2px 2px black;
    color: #3b8b99;
    text-align: left;
    margin-left: 75px;
    justify-content: center;
} 
h2 {
    font-family: 'Lobster', cursive;
    color: #f48079;
}
h3 {
    font-size: 24px 1.5em;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    margin-left: 75px;
    margin-right: 75px;
    color: #fda898;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    color: #ffc0b4; 
}
.image1 {
    width: 20%;
}    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f48079;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    color: white;
    text-align: center;

    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
p { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: left;
    padding-left: 20px;
}        
table {
    border: 4px solid #034c52;
    width: 100%;
}
th, td {
    border: 1px solid #034c52;
    padding: 5px;
    text-align: center;
  }
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid#034c52;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ffc0b4;
    padding: 12px 20px 12px 40px;
  }
.newCookieStand {
    font-family: 'Open Sans', sans-serif;
}  
.footer {
    background-color: #f48079;
    padding: 10px;
    text-align: center;
    font-size: 18px; 
    font-family: 'Open Sans', sans-serif;
    color: white;
    
}

/* salmon color palette
  dark teal #034c52
  med teal #015c63
  light teal #017075
  dark salmon #f48079
  med salmon #fda898
  light salmon #ffc0b4 */
